.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
}

.modal-conteudo {
    background-color: #d3cef3;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    max-width: 800px;
}

.fechar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar-modal:hover {
    color: #000;
}

.form-editar input,
.form-editar textarea {
    width: 97%;
    max-width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4d0d9b99;
    border-radius: 5px;
    box-shadow: 2px 1px 18px #1a5bbf90;
}

.form-editar input:focus,
.form-editar textarea:focus {
    border-color: #6a11cb;
    outline: none;
}

.form-editar button {
    background-color: #6a11cb;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-editar button:hover {
    background-color: #4d0d9b;
}

.imagem-atual-link a {
    text-decoration: none;
}